// Typography and buttons

// Layout

.login__welcome-message {
  margin-bottom: 2em;
}

.login__form {
  label {
    margin-bottom: 0.4em;
    margin-left: 0.3em;
  }

  input {
    margin-bottom: 0.8em;
  }
}
